:root {
    --brand-color: #8720e7;
    --prim-color: #130f2a;
    --cta-color: #df39c1;
    --border-color: #22c55e;
    --cont-prim-color: beige;
    --sec-color: #1e293b;
}
.text-info {
    color: var(--brand-color) !important;
}
.btn-info {
  background-color: var(--cta-color)!important;
  border-color: var(--cta-color) !important;
  color: var(--cont-prim-color) !important; 
}
.btn-info:hover, .btn-info:focus {
  background-color: var(--brand-color) !important;
  border-color: var(--brand-color) !important;
}
.border-info {
  border-color: var(--border-color) !important;
}
code {
    color: var(--border-color);
}
body {
    background-color: var(--prim-color);
    color: var(--cont-prim-color);
}
.navbar {
    background-color: var(--prim-color);
    border-bottom: solid 1px var(--sec-color);
}
.hero {
    background: linear-gradient(135deg, var(--sec-color) 0%, var(--prim-color) 100%);
    padding: 100px 0;
}
.card {
    background-color: var(--sec-color);
    border: 1px solid #334155;
    color: var(--cont-prim-color); 
}